.show {
    display: block !important;
}

.hidden {
    visibility: hidden;
}

.btn {
    cursor: pointer;
    background-color: darkslategray;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin: 5px 0;
}

.btn:disabled {
    background-color: #ccc;
    cursor: auto;
}